@model PontoDigital.ViewModels.HomeViewModel
@{
    Layout="_Layout";
}
@{
    var user = (string) ViewData["User"];
}
<head>
    <link href="~/css/style-navbar-flex.css" rel="stylesheet" type="text/css">
</head>
<header>
        <header class="topo container">
        <div class="conteudo_topo content">
            <nav class="menu" id="menu_principal">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                    <li><a href='@Url.Action("Index", "Home")#sobre'>Sobre</a></li>
                    <li><a href='@Url.Action("Index", "Home")#Planos'>Planos</a></li>
                    <li><a href='@Url.Action("Index", "Home")#Produtos'>Produtos</a></li>
                    <li><a href='@Url.Action("Index", "Home")#Localização'>Localização</a></li>
                    <li><a href='@Url.Action("Index", "Home")#Depoimentos'>Depoimentos</a></li>
                    <li><a href='@Url.Action("Index", "Home")#contatos'>Contatos</a></li>
                    @if(string.IsNullOrEmpty(user))
                    {
                    <li><a id="bt_login" asp-controller="Cliente" asp-action="Login">Login/Cadastro</a></li>
                    }
                    else
                    {
                    <li><a id="bt_logout" asp-controller="Cliente" asp-action="Logout">Logout</a></li>
                    }
                </ul>
            </nav>    
        </div>
    </header>

<h2>Comentarios Reprovados</h2>

<form action='@Url.Action("BuscarDepoimentos","Home")' method="POST">
    <label for="data">Data:</label>
    <input type="date" name="data">

    <input type="submit" value="Filtrar">
</form>


<table class="table-form">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Mensagem</th>
            <th>Data e Horário</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Depoimentos)
        {
            @if(item == null)
            {
                continue;
            }
        <tr class="tbody-form">
            <td>@item.Nome</td>
            <td>@item.Sobrenome</td>
            <td>@item.Email</td>
            <td>@item.Mensagem</td>
            <td>@item.DataEntrada</td>
        </tr>
        }
    </tbody>
</table>